* {
    margin: 0;
    line-height: 1.5em;
}

body{
    min-width:360px;
    background-color: #434343;
}

.content a {
    color: orange;
    font-weight: 400;
    text-decoration: none;

    cursor: pointer;
}

.content a:hover{
    color: black;
    background-color: orange;
}

.box {
    width: max(30%, 480px);
    margin: auto;
}

.content {
    padding: 20px;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;

    display: none;
}

.section {
    width: 100%;
    padding-bottom: 2vh;
}

.subsection {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 800;
    color: white;
    font-size: 40px;
    padding-left: 2vh;
}

.subsubtitle {
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-weight: 600;
    color: white;
    font-size: 20px;
    padding-left: 2vh;
}

.text {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: lightgrey;
    font-size: 18px;
    margin-bottom: 10px;
    padding-left: 2vh;
    padding-right: 2vh;
    padding-top: 10px;
}

.button {
    background-color: #f89406;
    outline:none;

    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;

    border: 2px solid #00000000;
    padding: 12px 30px;
    text-align: center;
    font-size: 18px;
    margin: 5px;
    outline: 0;

    cursor: pointer;
}

.button:hover {
    background-color: #f8940600;
    color: white;
    border-color: orange;
    border-width: 2px;
}

.button:focus {
    outline: none;
    padding: none;
}

.specialNote {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: lightgrey;
    font-size: 15px;

    border-width: 1px;
    border-style: solid;
    border-color: #f89406;
    padding: 5%;
}

b {
    font-weight:600;
}


@media (min-width:480px) {
    .box {
        border-width: 0 1px 0 1px;
        border-style: solid;
        border-color: lightgrey;
    }
    .content {
        border-width: 0 0 1px 0;
        border-style: solid;
        border-color: lightgrey;
    }
}

@media (max-width: 480px){
    .content {
        height: 77vh;
    }
}

@media only screen and (orientation: portrait){
    .body {
        min-width: 480px;
    }

    .box {
        width: 100%;
    }

    .content{
        height: 80vh;
        borderWidth: 0 0 2px 0;
    }

    .subtitle {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-Top: 20px;
        font-size: 70px;
    }

    .subsubtitle {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-Top: 20px;
        margin-Bottom: 20px;
        font-size: 40px;

        font-weight: 500;
    }

    .text {
        margin-left: 5vw;
        margin-right: 5vw;
        margin-Bottom: 50px;
        font-size: 25px;
        line-height: 3em;
    }

    li {
        line-height: 3em;
    }

    .button {
        padding: 2vw 4vw;
        font-size: 5vw;
    }

    .specialNote{
        font-size: 20px;
        border-width: 2px;
        margin-top: 10px;
        line-height: 3em;
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .section {
        padding-top: 2vh;
    }
}
