.footerBox{
    width: 100%;
    border-width: 0 1px 1px 0;
    border-style: solid;
    border-color: lightgrey;
    background-color: #434343;

}

.footer{
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sosmed {
    vertical-align: middle;
    height: 3vh;
    padding-left: 10px;
    padding-right: 10px;
}


@media (max-width: 480px){
    .footerbox {
        border-width: 1px 0 0 0;
    }
}

@media only screen and (orientation: portrait){
    .sosmed{
        height: max (3vh, 48px);
    }
    .footerBox {
        border-width: 2px 0 0 0;
        border-color: white;
        bottom: 0;
        position: fixed;
        z-index: 1px;
    }
}
