:root{
--pseudo-sb-w: min(3vw, 5px);
}

::-webkit-scrollbar{
    width: var(--pseudo-sb-w);
}
::-webkit-scrollbar-track{
    background-color: #7d7d7d;
}
::-webkit-scrollbar-thumb{
    background: white;
}
