.timeline {
  position: relative;
}

.timelineContainer{
    padding-left: 10%;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: lightgrey;
  top: 0;
  bottom: 0;
  left: 40px;
  margin-left: -1px;
}

.container {
  padding: 10px 40px;
  position: relative;
  width: 100%;
  color: white;
}

.container::after {
  content: '';
  position: absolute;
  width: 5px;
  height: 5px;
  left: 34px;
  background-color: #434343;
  border-width: 3px;
  border-style: solid;
  border-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timelineContent {
    padding-left: 5vw;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: white;
    font-size: 18px;
}

.time {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: lightgrey;
    font-size: 15px;
}

@media only screen and (orientation: portrait){
    .title{
        font-size: 45px;
    }

    .time {
        font-size: 35px;
    }

    .container {
        paddingBottom: 10px;
    }

    .timeline::after {
        left: 44px;
        width: 3px;
    }

    .container::after {
        top: 35px;
        width: 8px;
        height: 8px;
        border-width: 6px;
    }
}
